.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form label {
  padding-left: 10px;
}

.form [type='text'] {
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ccc;
}

.form [type='submit'] {
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ccc;
  background-color: #f0f0f0;
  cursor: pointer;
  max-width: 200px;
}
